@import "abstarcts/variables";

#__nuxt, html, body {
  height: 100%;
  background: var(--app-bg-color);

  cursor: none;
  font-family: Itim, sans-serif;

  a {
    font-size: 20px;

    &.router-link-active.router-link-exact-active {
      color: var(--app-active-link-color);
    }
  }
}

