@import "abstarcts/variables";

#__nuxt, html, body {
  height: 100%;
  background: var(--app-bg-color);

  font-family: Itim, sans-serif;

  a {
    font-size: 20px;
    font-weight: 400;

    &.router-link-active.router-link-exact-active {
      color: var(--app-active-link-color);
      font-weight: 600;
    }
  }
}

